iframe{
    border: 10px solid blue;
    border-radius: 10px 0px 10px 0px;
     box-shadow: 5px 5px 5px;
    /* margin: 50px; */
}
nav li{
    list-style: none;
    display: inline;
    margin: 15px;
}
nav li a{
    text-decoration: none;
}
nav li:hover{
    background-color: rgb(30, 32, 32);
}

.ovi{
    color: rgb(255, 0, 140);
}

header h2:hover{
    background-color: bisque;
}
nav{
    background-color: beige;
}
